
h1{color: rgb(172, 163, 163);}
h1{text-align: center;}
h2{color: rgb(158, 147, 147);}
h2{text-align: center;}
#imal1{margin-left: 20%;}
#imal2{margin-left: 20%;}
#imal3{margin-left: 20%;}
#imal4{margin-left: 20%;}
